<header class="sub-header">
  <div class="wrapper site-header__wrapper wrapper_sub">
    <h2>検索結果</h2>
  </div>
</header>
<div class="search-form">
  <%= search_form_for @q, url: search_pets_path do |f| %>
    <div class="search-field">
      <%= f.label :name_or_breed_or_mother_breed_or_father_breed_or_birthplace_or_breeder_name_cont, "フリーワード" %><br>
      <%= f.search_field :name_or_breed_or_mother_breed_or_father_breed_or_birthplace_or_breeder_name_cont, class: "search-text" %>
    </div>
    <div class="search-field">
      <%= f.label :dog_or_cat_eq, "絞り込み" %><br>
      <span><%= f.radio_button :dog_or_cat_eq, " ", checked: true, id: "none" %><label for="none">指定なし</label></span>
      <span><%= f.radio_button :dog_or_cat_eq, "犬", id: "search-dog" %><label for="search-dog">犬</label></span>
      <span><%= f.radio_button :dog_or_cat_eq, "猫", id: "search-cat" %><label for="search-cat">猫</label></span>
      <%= f.submit '検索', class: "search-btn" %>
    </div>
  <% end %>
</div>
<div class="container search-page">
  <% @results.each do |pet| %>
    <div class="search-card card-skin">
      <%= link_to pet_path(pet.id) do %>
        <div class="search_card__imgframe">
          <% if pet.pet_image.attached? %>
            <%= image_tag pet.pet_image %>
          <% else %>
            <%= image_tag "20200501_noimage.jpg" %>
          <% end %>
        </div>
        <div class="search_card__textbox">
          <div class="search_card__titletext">
            <p><%= pet.name %></p>
          </div>
          <div class="card__overviewtext">
            <li class="search_pet_text">
              種類：<%= pet.breed %>
            </li>
            <li class="search_pet_text">
              出身地：<%= pet.birthplace %>
            </li>
            <li class="search_pet_text">
              誕生日：<%= pet.birthday %>
            </li>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="paginate">
  <%= paginate @results %>
</div>
