<div class="container">
  <% if @user.id == current_user.id %>
    <h2 class="favo-title">フォロワーリスト</h2>
  <% else %>
    <h2><%= @user.name %>さんのフォロワーリスト</h2>
  <% end %>
  <% @users.each do |followed| %>
    <div class="fovo-container">
      <div class="favo-image">
        <% if followed.image.attached? %>
          <%= image_tag followed.image %>
        <% else %>
          <%= image_tag "20200501_noimage.jpg" %>
        <% end %>
        <ul class="favo-list">
          <li class="favo-pet-name"><%= followed.name %></li>
        </ul>
      </div>
      <div class="list-btns">
        <%= link_to "詳細", user_path(followed.id), class: "detail-btn" %>
        <% unless current_user.id == followed.id %>
          <% if current_user.following?(followed) %>
            <%= link_to 'フォロー外す', user_relationships_path(followed.id), method: :delete, class: "unfollow-btn" %>
          <% else %>
            <%= link_to 'フォローする', user_relationships_path(followed.id), method: :POST , class: "follow-btn"%>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>