<div class="container">
  <% if @user.id == current_user.id %>
    <h2 class="favo-title">フォローリスト</h2>
  <% else %>
    <h2><%= @user.name %>さんのフォローリスト</h2>
  <% end %>
  <% @users.each do |follower| %>
    <div class="fovo-container">
      <div class="favo-image">
        <% if follower.image.attached? %>
          <%= image_tag follower.image %>
        <% else %>
          <%= image_tag "20200501_noimage.jpg" %>
        <% end %>
        <ul class="favo-list">
          <li class="favo-pet-name"><%= follower.name %></li>
        </ul>
      </div>
      <%= link_to "詳細", user_path(follower.id), class: "detail-btn" %>
    </div>
  <% end %>
</div>